body{
    background-image: url(slike/proba2.jpg);
    background-size: auto;
     background-position: center;
     color: white;
}
h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 3px 2px 5px white;
    color: rgb(231, 4, 4)
    
}
h3{
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(231, 4, 4)
    text-shadow:white
    

}
a{
    border: 1px solid black;
    padding: 10px;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
     text-shadow: 3px 2px 5px black;
     color: white;
  }
  p {
    font-size: 20px;
  } 
ul{
    font-size: 15px;
  } 
